---
import LimitContainer from "@/components/common/LimitContainer.jsx";

const { valueProposition } = Astro.props;
---

<section id="capacidades" class="relative bg-primary text-on-primary">
  <div
    class="absolute inset-0 h-full w-2/4 max-xl:w-2/5 z-0 max-lg:opacity-35 max-lg:w-4/5">
    <div
      class="absolute inset-0 left-6 w-full h-full bg-sky-600"
      style="clip-path: polygon(100% 0%, 80% 50%, 100% 100%, 0 100%, 0 0);">
    </div>
    <div
      class="w-full h-full bg-blue-900 overflow-hidden"
      style="clip-path: polygon(100% 0%, 80% 50%, 100% 100%, 0 100%, 0 0);">
      <video
        src="/videos/world-tech.mp4"
        autoplay
        muted
        loop
        class="object-cover w-full 2xl:w-2/4 h-full grayscale opacity-30 fixed top-0 left-0 2xl:translate-x-[0%] translate-x-[-20%]"
      ></video>
    </div>
  </div>
  <LimitContainer className="py-15">
    <div class="flex justify-end items-center min-h-svh relative z-1">
      <div class="max-w-xl">
        <h2
          class="mb-8 font-headline text-5xl max-xl:text-4xl leading-tight font-extrabold tracking-tighter">
          {valueProposition.title}
        </h2>
        <p
          class="mb-12 max-w-lg text-lg max-xl:text-md leading-relaxed font-light text-slate-400">
          {valueProposition.description}
        </p>

        <dl class="grid grid-cols-2 gap-8">
          {
            valueProposition.stats.map((stat) => (
              <div>
                <dt class="text-xs font-bold tracking-widest text-slate-500 uppercase">
                  {stat.label}
                </dt>
                <dd class="mb-2 font-headline text-3xl font-black text-secondary">
                  {stat.value}
                </dd>
              </div>
            ))
          }
        </dl>
      </div>
    </div>
  </LimitContainer>
</section>
