---
import LimitContainer from "@/components/common/LimitContainer.jsx";
import ServiceCapabilityCard from "@/components/common/ServiceCapabilityCard.astro";

const { capabilities } = Astro.props;
---

<section id="servicios" class="bg-surface-container py-32">
  <LimitContainer className="px-6 lg:px-8">
    <div class="mb-20 text-center md:text-left">
      <h2
        class="font-headline text-4xl font-extrabold tracking-tighter text-primary uppercase">
        {capabilities.title}
      </h2>
    </div>

    <div
      class="grid grid-cols-1 gap-px bg-outline-variant/30 md:grid-cols-2 lg:grid-cols-3">
      {
        capabilities.items.map((item) => (
          <ServiceCapabilityCard
            icon={item.icon}
            title={item.title}
            description={item.description}
          />
        ))
      }
    </div>
  </LimitContainer>
</section>
