---
import LimitContainer from "@/components/common/LimitContainer.jsx";

const { trust } = Astro.props;
---

<section class="bg-surface-container-high py-20" aria-label="Nuestros aliados">
  <LimitContainer>
    <h2
      class="font-headline text-4xl font-extrabold tracking-tighter text-center">
      NUESTROS ALIADOS
    </h2>
    <div
      class="flex flex-wrap items-center justify-between gap-8 px-6 mt-20 max-xl:justify-center">
      {
        trust.logos.map((logo: { src: string; alt: string; href: string }) => (
          <a
            href={logo.href}
            title={logo.alt}
            target="_blank"
            rel="noopener noreferrer">
            <img
              src={logo.src}
              alt={logo.alt}
              loading="lazy"
              decoding="async"
              class="h-30 object-contain opacity-50 grayscale hover:grayscale-0 hover:opacity-100 transition duration-300"
            />
          </a>
        ))
      }
    </div>
  </LimitContainer>
</section>
